@font-face {
    font-family: 'Avenir LT Pro 65';
    src: url('../fonts/AvenirLTPro-Black.eot');
    src: url('../fonts/AvenirLTPro-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirLTPro-Black.woff2') format('woff2'), 
         url('../fonts/AvenirLTPro-Black.woff') format('woff'), 
         url('../fonts/AvenirLTPro-Black.ttf') format('truetype'), 
         url('../fonts/AvenirLTPro-Black.svg#AvenirLTPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir LT Pro 45 Book';
    src: url('../fonts/AvenirLTPro-Book.eot');
    src: url('../fonts/AvenirLTPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTPro-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTPro-Book.woff') format('woff'),
        url('../fonts/AvenirLTPro-Book.ttf') format('truetype'),
        url('../fonts/AvenirLTPro-Book.svg#AvenirLTPro-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir LT Pro';
    src: url('../fonts/AvenirLTPro-Medium.eot');
    src: url('../fonts/AvenirLTPro-Medium.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/AvenirLTPro-Medium.woff2') format('woff2'), 
         url('../fonts/AvenirLTPro-Medium.woff') format('woff'), 
         url('../fonts/AvenirLTPro-Medium.ttf') format('truetype'), 
         url('../fonts/AvenirLTPro-Medium.svg#AvenirLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir LT Pro 55 Roman';
    src: url('../fonts/AvenirLTPro-Heavy.eot');
    src: url('../fonts/AvenirLTPro-Heavy.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/AvenirLTPro-Heavy.woff2') format('woff2'), 
         url('../fonts/AvenirLTPro-Heavy.woff') format('woff'), 
         url('../fonts/AvenirLTPro-Heavy.ttf') format('truetype'), 
         url('../fonts/AvenirLTPro-Heavy.svg#AvenirLTPro-Heavy') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
