.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
/* aside */
aside {
    background-color: #222222;
    width: 20%;
    justify-content: center; 
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    position: sticky;  
    flex-wrap: wrap;
}
.logo-box {
    justify-content: space-between;
} 
.logo, .burger {
    margin-top: 42px;
    align-items: center;
}
.logo a {
    display: flex;
}
.logo p {
    font-family: 'Avenir LT Pro 65';
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
}
.logo span {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 24px;
    line-height: 32px;
}
.navbar {
    margin-top: 10%;
    justify-content: space-between;
    flex-direction: column;
}
.navbar ul {
    flex-wrap: wrap;
}
.navbar a, .following a {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color:#FFFFFF;
    line-height: 21px;
    font-family: 'Avenir LT Pro';
    flex-wrap: wrap;
}
.navbar img, .following img {
    margin-right: 15px;
    margin-left: 3%;
}
.following {
    margin-top: 87px;
    justify-content: space-between;
    flex-direction: column;
}
.following h5 {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Avenir LT Pro 55 Roman';
    padding-left: 30px;
    margin-bottom: 30px;
    line-height: 16px;
}
.more {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 14px;
    margin-top: 19px;
    margin-bottom: 106px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 19px;
}
.navbar a:hover, .following a:hover{
    background-color: #f14696;
    border-radius: 12px;
    transition: background-color 0.3s linear;
    letter-spacing: 0.8px;
}
/* header */
.content {
     width: 80%;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-height: 116px;
    width: 100%;
    border-bottom: solid 1px rgba(54, 53, 53, 0.2);  
    padding-bottom: 30px;
}
.hidden {
    display: none;
    margin-top: 30px;
    background-color: #141314;
    margin-right: 20%;
    cursor: pointer;
    opacity: 70%;
}
.search {
    width: 30%;
    align-items: center;
    max-height: 56px;
    background-color:#F8F8F8;
    border-radius: 12px;
    margin-top: 30px;
    justify-content: space-between;  
}
.search img {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}
.search input {
    font-size: 14px;
    font-family: 'Avenir LT Pro 55 Roman';
    color: #111111;
    opacity: 50%;
    line-height: 19px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: none;
}
.icon {
    align-items: center;
    justify-content: space-evenly;
    max-height: 56px;
    margin-top: 30px; 
}
.icon p{
    font-size: 14px;
    font-family: 'Avenir LT Pro 55 Roman';
    color: #FF2288;
    line-height: 19px;
    cursor: pointer;  
}
.icon p:hover {
    letter-spacing: 1px; 
}
.inbox, .notification {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30px;
    cursor: pointer;
}
.point {
    animation-name: news;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes news {
    from {
        width: 40%;
        height: 40%; 
    }
    to {
        width: 45%;
        height: 45%;
    }
}
input[type=file]{
    display: none;
}
.inbox {
    background-image: url(../images/inbox.png);
}
.notification {
    background-image: url(../images/Component\ 7\ –\ 2.png);
}
.icon a {
    margin-left: 30px;
}
.upload {
    background-color: #FF2288;
    width: 129px;
    height: 56px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    transition: 0.3s all ease-in-out;
} 
.upload label {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Avenir LT Pro 55 Roman';  
    cursor: pointer;  
    text-transform: uppercase;
    line-height: 19px;
}
.upload:hover {
      border: 2px solid #FF2288;
      letter-spacing: 2px;    
}
/* section */
.section-bar {
    justify-content: center; 
    max-width: 90%;
    width: 100%;
    margin: 40px auto;
    flex-direction: column;
} 
.menu {
    width: 100%;
    max-height: 56px;
    align-items: center;
    justify-content: space-evenly; 
    padding: 16px 0;
}
.section-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.section-bar a {
    color: #222222;
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
    transition: background-color 0.5s linear all;
    padding: 10px;
    line-height: 21px;
}
.section-bar a:hover {
    background-color: #F2F2F2;
    border-radius: 12px;
} 
.filter {
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
}
.type-list {
    display: none;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: space-between; 
}
.type-list p {
    margin-right: 8%;
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
    display: none;
}
.type-list img {
    display: none;
    cursor: pointer;
}
.filter img {
    width: 24px;
    height: 24px;
    margin-left: 30%;  
}
.filter p {
    margin-right: 8%;
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
} 
.article {
    width: 100%;
    margin-top: 40px;
    justify-content: space-evenly; 
} 
.box {
    position: relative;
}
.add, .heart {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #FFFFFF;
    border-radius: 12px;
    left: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transition: width 3s height 3s linear;
}
.add:hover, .heart:hover {
    width: 40px;
    height: 40px;
}
.add {
    background-image: url(../images/Component\ 10\ –\ 1.png);
    top: 30px;
}
.heart {
    background-image: url(../images/Component\ 6\ –\ 2.png);
    top: 70px;
}
.heart:hover{
    background-color: #FF2288;
}
.add:hover {
    background-color: #F2F2F2;
}
.box, .box img {
    max-width: 289px;
    width: 100%;
}
.box p {
    font-family: 'Avenir LT Pro';
    font-size: 18px;
    line-height: 24px;
    text-align: center;
} 
.load {
    width: 15%;
    height: 56px;
    background-color:#F2F2F2;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    margin-left: 30%;
    cursor: pointer;
    margin-top: 70px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.load:hover {
    width: 20%; 
    background-color: #FF2288;
    color: #FFFFFF;
}
.load p {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
    line-height: 21px;
}
.box:hover {
    background-color:#F2F2F2;
    border-radius: 12px;
    transition: background-color 0.3s linear;
}
/* 2nd section */
.designer {
    justify-content: space-between;
}
.designer h2 { 
    font-family: 'Avenir LT Pro 55 Roman';
    font-style: 32px;
    line-height: 43px;
}
.designer a {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
}
.profile-box {
    justify-content: space-evenly;
    text-align: center;
}
.profile {
    margin-top: 54px;
    margin-left: 1%;
    flex-direction: column;
}
.profile img {
    cursor: pointer;
}
.profile h6 {
    font-family: 'Avenir LT Pro';
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}
.profile h6:hover {
    color: #FF2288;
    cursor: pointer;
}
.profile p {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 11px;
    opacity: 60%;
    letter-spacing: 30;
    margin-bottom: 10px;
}
.profile button {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 30;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
}
.profile button:hover {
    background-color: #FF2288;
    color: #FFFFFF;
    transition: all 0.3s linear;
}
.active {
    background-color: rgb(231, 226, 226);
}
.color {
    background-color: #FAFAFA;
}
/* footer */
footer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
}
.for-designer {
    flex-direction: column;
    align-items: center;
}
.for-designer a, .hire-designer a, .company a, .director a {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 16px;
    line-height: 40px;
    padding: 10px;
}
.for-designer a:hover, .hire-designer a:hover, .company a:hover, .director a:hover {
    background-color: #F2F2F2;
    border-radius: 12px;  
}
.for-designer h6, .hire-designer h6, .company h6, .director h6 {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 36px;
}
.hire-designer, .company, .director {
    margin-left: 5%;
}
.footer {
    width: 100%;
    justify-content: space-between;
    margin-top: 113px;
    border-top: solid 1px rgba(54, 53, 53, 0.2);
    padding-top: 40px;
}
.footer a {
    margin-left: 20px;
}
.footer p {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 16px;
    line-height: 40px;
}
.footer span {
    font-family: 'Avenir LT Pro 65';
    font-size: 16px;
}
.arrow {
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 20%;
    cursor: pointer;
}
/* 2nd page */
.person {
    border: 2px solid #E7E7E7;
    border-radius: 28px;
    padding: 10px;
    transition: width 2s, height 2s linear;
}
.person:hover, .person-1:hover {
    width: 120%;
    height: 120%;
}
.section-bar-2 {
    max-width: 90%;
    width: 100%;
    margin: 70px auto;
    flex-direction: column;
}
.view {
    display: none;
    margin-bottom: 5%;
    justify-content: flex-end;
}
.view p {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 14px;
    display: none;
    opacity: 70%;
    justify-content: flex-end;
    letter-spacing: 0.5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    flex-wrap: wrap;
}
tr {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 18px;
    line-height: 24px;
    transition: all 0.2s linear;
    flex-wrap: wrap;
}
td {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
    line-height: 21px;
    color: #AFAFAF;
} 
th, td {
    padding: 29px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:first-child:hover {
    transform: none !important;
    background-color: #fff !important;
    cursor:inherit !important;
}
tr:nth-child(even):hover {
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
tr:nth-child(odd):hover {
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
tr:hover td {
    color: #FF2288;
}
/* responsive  */
@media(max-width:1024px){
    .navbar img, .following p, .search, .upload, .menu ul, .following h5, .for-designer a, .hire-designer a, .company a, 
    .director a, td:first-child, th:first-child, th:nth-child(5), td:nth-child(5), th:nth-child(3), td:nth-child(3) {
        display: none;
    }
    .following {
        justify-content: center;
    }
    .more {
        display: block !important;
    }
    .navbar a, .following a, .logo, .more, .burger{
        justify-content: center;  
        align-items: center;
    }
    header {
        justify-content: space-evenly;
    }
    .hidden, .arrow, .type-list, .type-list p, .type-list img {
        display: block; 
    }
    .logo p, .logo span {
        font-size: 15px;
    }
    .container {
        flex-wrap: wrap;
    }
    .burger {
        margin-left: 15%;
    } 
    .logo-box {
        align-content: center;
        align-items: center;
    }
    .view, .view p {
        display: block;
    }
    .menu {
        background-color: #F2F2F2;
        border-radius: 12px;
    }
    .type-list {
        display: flex;
        justify-content: space-around;
    }
}
@media(max-width:480px){
    .logo, .navbar p, .inbox, .notification, th:nth-child(6), td:nth-child(6) {
        display: none;
    }
    .navbar img {
        display: block;  
    }
    .load {
        align-items: center;
        justify-content: center;
    }
    header {
        justify-content: center;
    }
    .box p {
        font-size: 14px;
    }
    .load p {
        font-size: 8px;
        text-align: center;
    }
    .navbar img, .following img{
        margin:0;
    }
    .more {
        text-align: center;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
}