.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
/* aside */
aside {
    background-color: #222222;
    width: 20%;
    justify-content: center; 
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    position: sticky;  
    flex-wrap: wrap;
}

.logo-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.logo {
    margin-top: 42px;
    display: flex;
    align-items: center;
}
.logo a {
    display: flex;
}
.logo p {
    font-family: 'Avenir LT Pro 65';
    color: #FFFFFF;
    font-size: 24px;
}
.logo span {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 24px;
}
.burger {
    margin-top: 42px;
}
.navbar {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.navbar ul {
    flex-wrap: wrap;
}
.navbar a, .following a {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color:#FFFFFF;
    line-height: 21px;
    font-family: 'Avenir LT Pro';
    flex-wrap: wrap;
}
.navbar img, .following img {
    margin-right: 15px;
    margin-left: 3%;
}
.following {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.following h5 {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Avenir LT Pro 55 Roman';
    padding-left: 30px;
    margin-bottom: 30px;
}
.more {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 14px;
    margin-top: 19px;
    color: #FFFFFF;
    margin-bottom: 106px;
    cursor: pointer;
}
.navbar a:hover, .following a:hover{
    background-color: #f14696;
    border-radius: 12px;
    transition: background-color 0.3s linear;
}

/* header */
.content {
     width: 80%;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-height: 116px;
    width: 100%;
    border-bottom: solid 1px rgba(0,0,0,0.2);  
}
.hidden {
    display: flex;
    display: none;
    margin-top: 30px;
    background-color: #a79da2;
    margin-right: 20%;
}
.search {
    max-width: 446px;
    align-items: center;
    max-height: 56px;
    background-color:#F8F8F8;
    border-radius: 12px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;  
}
.search img {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}
.search input {
    font-size: 14px;
    font-family: 'Avenir LT Pro 55 Roman';
    color: #111111;
    opacity: 50%;
    line-height: 19px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 56px;
    margin-top: 30px;
    
}
.icon p{
    font-size: 14px;
    font-family: 'Avenir LT Pro 55 Roman';
    color: #FF2288;
    line-height: 19px;
    cursor: pointer;
    
}
.inbox, .notification {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30px;
    cursor: pointer;
}
input[type=file]{
    display: none;
}
.inbox {
    background-image: url(../images/inbox.png);
}
.notification {
    background-image: url(../images/Component\ 7\ –\ 2.png);
}
.icon a {
    margin-left: 30px;
}
.upload {
    background-color: #FF2288;
    width: 129px;
    height: 56px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    display: flex;
} 
.upload label {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Avenir LT Pro 55 Roman';  
    cursor: pointer;  
    text-transform: uppercase;
} 

/* section */
.section-bar {
    justify-content: center; 
    max-width: 90%;
    width: 100%;
    margin: 40px auto;
    flex-direction: column;
    flex-wrap: wrap;
} 
.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 56px;
    align-items: center;
    justify-content: space-evenly; 
    padding: 16px 0;
}
.section-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.section-bar a {
    color: #222222;
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
    transition: transition: background-color 0.5s linear;
    padding: 10px;
}
.filter {
    width: 10%;
    height: 100%;
    /* border: 2px solid #D8D8D8; */
    border-radius: 12px;
    align-items: center;
    border-color: #D8D8D8;
    display: flex;
    justify-content: flex-end; 
}
.filter img {
    width: 24px;
    height: 24px;
    margin-left: 30%;  
}
.filter p {
    margin-right: 8%;
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
} 
.section-bar a:hover {
    background-color: #F2F2F2;
    border-radius: 12px;
} 
.article {
    display: flex;
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly; 
} 
.box p {
    font-family: 'Avenir LT Pro';
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}   
.load {
    width: 289px;
    height: 56px;
    background-color:#F2F2F2;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    margin-left: 35%;
    cursor: pointer;
    margin-top: 70px;;
}
.load:hover {
    background-color: #FF2288;
    color: #FFFFFF;
}
.load p {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
}
.box:hover {
    background-color:#F2F2F2;
    border-radius: 12px;
    transition: background-color 0.3s linear;
}
/* 2nd section */
.designer {
    display: flex;
    justify-content: space-between;
}
.designer h2 { 
    font-family: 'Avenir LT Pro 55 Roman';
    font-style: 32px;
    line-height: 43px;
}
.designer a {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
}
.profile-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.profile {
    margin-top: 54px;
    margin-left: 1%;
    flex-direction: column;
}
.profile h6 {
    font-family: 'Avenir LT Pro';
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}
.profile p {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 11px;
    opacity: 60%;
    letter-spacing: 30;
    margin-bottom: 10px;
}
.profile button {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 30;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
}
.profile button:hover {
    background-color: #FF2288;
    color: #FFFFFF;
}
.active {
    background-color: rgb(231, 226, 226);
}

.color {
    background-color: #FAFAFA;
}
/* footer */
footer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
}
.for-designer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.for-designer a, .hire-designer a, .company a, .director a {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 16px;
    line-height: 40px;
    padding: 10px;
}
.for-designer a:hover, .hire-designer a:hover, .company a:hover, .director a:hover {
    background-color: #F2F2F2;
    border-radius: 12px;
    
}

.for-designer h6, .hire-designer h6, .company h6, .director h6 {
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 36px;
}
.hire-designer, .company, .director {
    margin-left: 5%;
}
.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 113px;
}
.footer a {
    margin-left: 20px;
}
.footer p {
    font-family: 'Avenir LT Pro 45 Book';
    font-size: 16px;
    line-height: 40px;
}
.footer span {
    font-family: 'Avenir LT Pro 65';
    font-size: 16px;
}
.arrow {
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 20%;
}


/* responsive  */
@media(max-width:1024px){
    .navbar p, .following p, .search input, .icon p, .upload, .menu ul, .following h5, .for-designer a, .hire-designer a, .company a, 
    .director a {
        display: none;
    }
    .navbar a, .following a, .logo, .more, .burger{
        justify-content: center;  
    }
    header {
        justify-content: space-evenly;
    }
    .hidden, .arrow {
        display: block;   
    }
    .logo p, .logo span {
        font-size: 15px;
    }
    .container {
        flex-wrap: wrap;
    }
    
}